

// .homepage {
//   background-color: black;
//   // height: 100vh;
//   // z-index: -99;
//   // animation: shrink var(--duration) var(--delay) linear infinite;
// }


.homepage_gallery {
  position: absolute;
  top: 0px;
  // background-color: black;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 25rem;
}

.homepage_gallery .overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
}
.homepage_gallery .overlay_dark{
  background: rgba(0, 0, 0, .3);
}

.homepage .slogan{
  font-family: JosefinSansMediumItalic;
  text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
}

.homepage .top-project-image{
  height: 100%;
}

.homepage .top-project-name{
  font-size: 1rem;
}

.homepage .rdt_TableRow{
  padding: 10px;
}

.top-project-title{
  height: 36px;
  
  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}