.homepage_gallery {
  position: absolute;
  top: 0px;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 25rem;
}

.homepage_gallery .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  background: linear-gradient(
    87deg,
    rgba(221, 247, 255, 1) 0%,
    rgba(235, 215, 192, 1) 60%,
    rgba(217, 204, 242, 1) 100%
  );
}
.homepage_gallery .overlay_dark {
  background: rgba(0, 0, 0, 0.3);
}

.homepage {
  .slogan {
    color: #eee;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  }
}

.homepage .top-project-image {
  height: 100%;
}

.homepage .top-project-name {
  font-size: 1rem;
}

.homepage .rdt_TableRow {
  padding: 10px;
}

.top-project-title {
  height: 36px;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.homepage {
  .columns {
    text-align: center;
    .logo-text {
      font-size: 8rem;
      height: 220px;
    }
  }
}

.slogan-container {
  display: flex;
  justify-content: center;
}

.flip-container {
  height: 44px;
  margin: 0 10px;
  overflow: hidden;
  li {
    text-transform: uppercase;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
  }
}

.flip-items {
  animation: flip-animation 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip-animation {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.firstLine {
  font-size: 36px;
}

.secondLine {
  font-size: 42px;
  line-height: 32px;
  font-weight: bolder;
}

.thirdLine {
  font-size: 36px;
  line-height: 28px;
}

.fourthLine {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  top: -10px;
}

$badge-color: #00d1b2;

.badges {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 200px;
  height: 200px;
  color: #eee;
  background: $badge-color;
  border-radius: 100%;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation: 3s ease-in-out 0s normal none infinite running swing;
  -moz-animation: 3s ease-in-out 0s normal none infinite running swing;
  -o-animation: 3s ease-in-out 0s normal none infinite running swing;
  animation: 3s ease-in-out 0s normal none infinite running swing;

  -webkit-transform-origin: 100px -71px;
  -moz-transform-origin: 100px -71px;
  -o-transform-origin: 100px -71px;
  transform-origin: 100px -71px;
}
.badges:before {
  content: "";
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-box-shadow: 0px -82px 0px -2px #eee, 0px -100px $badge-color,
    20px -98px $badge-color, 39px -94px $badge-color, 56px -85px $badge-color,
    71px -72px $badge-color, 83px -57px $badge-color, 93px -40px $badge-color,
    98px -20px $badge-color, 100px 0px $badge-color, -20px -98px $badge-color,
    -39px -94px $badge-color, -71px -72px $badge-color, -56px -85px $badge-color,
    -83px -57px $badge-color, -93px -40px $badge-color, -98px -20px $badge-color,
    -100px 0px $badge-color, 0px 100px $badge-color, -20px 98px $badge-color,
    -39px 94px $badge-color, -56px 85px $badge-color, -71px 72px $badge-color,
    -83px 57px $badge-color, -93px -40px $badge-color, -98px 20px $badge-color,
    -93px 40px $badge-color, 20px 98px $badge-color, 39px 94px $badge-color,
    56px 85px $badge-color, 71px 72px $badge-color, 83px 57px $badge-color,
    93px 40px $badge-color, 98px 20px $badge-color;

  -moz-box-shadow: 0px -82px 0px -2px #eee, 0px -100px $badge-color,
    20px -98px $badge-color, 39px -94px $badge-color, 56px -85px $badge-color,
    71px -72px $badge-color, 83px -57px $badge-color, 93px -40px $badge-color,
    98px -20px $badge-color, 100px 0px $badge-color, -20px -98px $badge-color,
    -39px -94px $badge-color, -71px -72px $badge-color, -56px -85px $badge-color,
    -83px -57px $badge-color, -93px -40px $badge-color, -98px -20px $badge-color,
    -100px 0px $badge-color, 0px 100px $badge-color, -20px 98px $badge-color,
    -39px 94px $badge-color, -56px 85px $badge-color, -71px 72px $badge-color,
    -83px 57px $badge-color, -93px -40px $badge-color, -98px 20px $badge-color,
    -93px 40px $badge-color, 20px 98px $badge-color, 39px 94px $badge-color,
    56px 85px $badge-color, 71px 72px $badge-color, 83px 57px $badge-color,
    93px 40px $badge-color, 98px 20px $badge-color;

  -o-box-shadow: 0px -82px 0px -2px #eee, 0px -100px $badge-color,
    20px -98px $badge-color, 39px -94px $badge-color, 56px -85px $badge-color,
    71px -72px $badge-color, 83px -57px $badge-color, 93px -40px $badge-color,
    98px -20px $badge-color, 100px 0px $badge-color, -20px -98px $badge-color,
    -39px -94px $badge-color, -71px -72px $badge-color, -56px -85px $badge-color,
    -83px -57px $badge-color, -93px -40px $badge-color, -98px -20px $badge-color,
    -100px 0px $badge-color, 0px 100px $badge-color, -20px 98px $badge-color,
    -39px 94px $badge-color, -56px 85px $badge-color, -71px 72px $badge-color,
    -83px 57px $badge-color, -93px -40px $badge-color, -98px 20px $badge-color,
    -93px 40px $badge-color, 20px 98px $badge-color, 39px 94px $badge-color,
    56px 85px $badge-color, 71px 72px $badge-color, 83px 57px $badge-color,
    93px 40px $badge-color, 98px 20px $badge-color;

  box-shadow: 0px -82px 0px -2px #eee, 0px -100px $badge-color,
    20px -98px $badge-color, 39px -94px $badge-color, 56px -85px $badge-color,
    71px -72px $badge-color, 83px -57px $badge-color, 93px -40px $badge-color,
    98px -20px $badge-color, 100px 0px $badge-color, -20px -98px $badge-color,
    -39px -94px $badge-color, -71px -72px $badge-color, -56px -85px $badge-color,
    -83px -57px $badge-color, -93px -40px $badge-color, -98px -20px $badge-color,
    -100px 0px $badge-color, 0px 100px $badge-color, -20px 98px $badge-color,
    -39px 94px $badge-color, -56px 85px $badge-color, -71px 72px $badge-color,
    -83px 57px $badge-color, -93px -40px $badge-color, -98px 20px $badge-color,
    -93px 40px $badge-color, 20px 98px $badge-color, 39px 94px $badge-color,
    56px 85px $badge-color, 71px 72px $badge-color, 83px 57px $badge-color,
    93px 40px $badge-color, 98px 20px $badge-color;
}
.badges:after {
  content: "";
  position: absolute;
  top: -70px;
  left: 99px;
  width: 2px;
  height: 81px;
  border-radius: 0%;
  background: #eee;
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
  }
}
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(5deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(5deg);
  }
}
@-o-keyframes swing {
  0% {
    -o-transform: rotate(5deg);
  }
  50% {
    -o-transform: rotate(-5deg);
  }
  100% {
    -o-transform: rotate(5deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
