// .homepage {
//   background-color: black;
//   // height: 100vh;
//   // z-index: -99;
//   // animation: shrink var(--duration) var(--delay) linear infinite;
// }

.homepage_gallery {
  position: absolute;
  top: 0px;
  // background-color: black;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 25rem;
}

.homepage_gallery .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
}
.homepage_gallery .overlay_dark {
  background: rgba(0, 0, 0, 0.3);
}

.homepage .slogan {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
}

.homepage .top-project-image {
  height: 100%;
}

.homepage .top-project-name {
  font-size: 1rem;
}

.homepage .rdt_TableRow {
  padding: 10px;
}

.top-project-title {
  height: 36px;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.homepage {
  .columns {
    text-align: center;
    .logo-text {
      width: 100%;
      font-size: 100px;
      font-weight: 700;
      background: -webkit-linear-gradient(45deg, #ffffff, #2ec4ff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px #DC95CF;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
    }
  }
}
