.main-navbar {
  background-color: transparent;
  background-image: none;
  .logo-text {
    font-size: 1.68rem;
    height: 44px;
  }
}

.main-navbar .the-blur {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 61px;

  background: -moz-linear-gradient(
    87deg,
    rgba(221, 247, 255, 1) 0%,
    rgba(235, 215, 192, 1) 60%,
    rgba(217, 204, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    87deg,
    rgba(221, 247, 255, 1) 0%,
    rgba(235, 215, 192, 1) 60%,
    rgba(217, 204, 242, 1) 100%
  );
  background: linear-gradient(
    87deg,
    rgba(221, 247, 255, 1) 0%,
    rgba(235, 215, 192, 1) 60%,
    rgba(217, 204, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddf7ff",endColorstr="#d9ccf2",GradientType=1);
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 100%;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.react-autosuggest__container input::placeholder {
  color: #111111;
  opacity: 0.7;
}

.navbar-item .search.control input {
  width: 400px;
}

.navbar-item {
  font-size: large;
  font-weight: 400;
  
  .navbar-dropdown .fas {
    margin-right: 1rem;
  }
}
