.explore .filter .field{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
}

.explore .filter_label{
  cursor: pointer
}

.infinite-scroll-container {
  padding: 0 16px;
}
