body {
  cursor: default;
  font-family: "Titillium Web", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-weight: 300;
}

.notification-window {
  border-radius: 0.375em;
  bottom: 1em;
  right: 1em;
  width: 20rem;
  background-color: #fff;
  box-shadow: 0 0 1em rgb(0 0 0 / 10%);
  padding: 1em 1.5em;
  position: fixed;
  z-index: 10;
}

.collection_logo {
  object-fit: cover;
}

.ada_symbol {
  font-size: 12px;
}
.social-icon img {
  /* padding: 0px; */
  width: 16px;
  height: 16px;
}

.pagination-previous,
.pagination-next {
  background-color: #fff;
  cursor: pointer;
}

.icn-spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.card.asset_card {
  -webkit-filter: drop-shadow(0 4px 6px #64646f33);
  filter: drop-shadow(0 4px 6px #64646f33);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 1rem;
}

.card.asset_card .card-image figure {
  background: #e6e6e6;
}

.card.asset_card .card-content {
  padding: 0;
  margin-top: 16px;
}

.card.asset_card .card-content .subtitle {
  margin-bottom: 1rem;
}

.card.asset_card .card-content .tag-price {
  padding-top: 1rem;
}

.sweet-alert div:first-child {
  transform: scale(0.6);
  margin: 0 auto !important;
}

.sweet-alert h2 {
  font-size: 1.2rem !important;
}

.sweet-alert p a.button {
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  font-size: 1.2rem;
  border-color: transparent !important;
  border-radius: 9999px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
}

.logo-text {
  width: 100%;
  font-family: 'Pacifico', cursive;
  background: linear-gradient(
    90deg,
    #d1aad7,
    #c88bc4 25.17%,
    #7b8fdd 50%,
    #86bff2 73.09%,
    #bbdef2
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #bbdef2;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  from {
    background-position: 200% center;
  }
}

span[data-tooltip]{
  border-bottom: none !important; /* this is to override the little underline in bulma-tooltip */
}
