.audio-player {
  max-width: 350px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: var(--white);
}

.audio-player Button {
  background: none;
  border: none;
  cursor: pointer;
  --white: #fff;
  --active-color: #00aeb0;
}

.audio-player input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #3b7677;
  transition: background 0.2s ease;
  cursor: pointer;
}

.audio-player .artwork {
  border-radius: 120px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.audio-player .track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.audio-player .title {
  font-weight: 700;
  margin-bottom: 4px;
  color: #fff;
}

.audio-player .artist {
  font-weight: 300;
  margin-top: 0;
}

.audio-player .audio-controls {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
  justify-content: center;
}

.audio-player .audio-controls .prev svg,
.audio-player .audio-controls .next svg {
  width: 35px;
  height: 35px;
}

.audio-player .audio-controls .play svg,
.audio-player .audio-controls .pause svg {
  height: 40px;
  width: 40px;
}

.audio-player .audio-controls path {
  fill: var(--white);
}

.audio-player.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 100%, transparent 100%) no-repeat;
  z-index: -1;
}

.audio-player.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
