.collection_title .title{
  text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
}

.collection_title .title:hover{
  text-shadow: 4px 4px 4px grey, 0 0 1em grey, 0 0 0.2em grey;
}

.hero.collection_name{
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.collection .social-links{
  float: right
}
