.wallet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 8px;
  height: 66px;

  .wallet-title {
    font-weight: bold;
  }
}

.wallet-button:hover {
  color: #eee;
  background-color: #00d1b2;
  box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.modal.is-active {
  animation: fadein 500ms;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
